---
layout: page
title: "About"
description: "我不写代码,我只是代码的搬运工"
header-img: "img/common/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
     <!--copied from markdown -->
    <blockquote><p>我是大威,从事iOS开发,对swift,python,shell感兴趣</p></blockquote>

    <p>Hey，我是<strong>大威</strong>，程序员，<a href="http://www.hpu.edu.cn/www/index.html">河南理工大学</a> . 计算机科学与技术学院.2011 级,现就职于 <a href="http://campus.chinahr.com/2014/pages/read/jobs.asp">天翼阅读</a>
    </p>


    <h5>Resumes</h5>

    <ul>
    <li><a href="">个人简历</a></li>

    </ul>
</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Good code change the world.
    </blockquote>
	<p>This is David Day.</p>
	<p>Majoring in Network Engineering during college education</p>
	<p>I was leader of a rock band,being the guitar&bass player.</p>
	<p>Now I'm a good-looking iOS developer,group leader and a zealous fan of tech.</p>
	<p>In the coming days,I will…</p>
</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
    <div class="comment">
        <div class="ds-thread"
        {% if site.duoshuo_username == "huxblog" %}
            data-thread-id="1187623191091085319"
        {% else %}
            data-thread-key="{{site.duoshuo_username}}/about"
        {% endif %}

        data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
    </div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
